## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Nanortalik,60.1432,-45.2371,23.14,75,100,8.93,GL,overcast clouds
1,1,Puerto Ayora,-0.7393,-90.3518,68.56,96,99,4.00,EC,overcast clouds
2,2,Rikitea,-23.1203,-134.9692,77.92,75,65,7.58,PF,broken clouds
3,3,Kapaa,22.0752,-159.3190,80.58,72,74,5.01,US,light rain
4,4,Onomichi,34.4167,133.2000,49.89,56,9,7.58,JP,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Nanortalik,60.1432,-45.2371,23.14,75,100,8.93,GL,overcast clouds
1,1,Puerto Ayora,-0.7393,-90.3518,68.56,96,99,4.00,EC,overcast clouds
2,2,Rikitea,-23.1203,-134.9692,77.92,75,65,7.58,PF,broken clouds
3,3,Kapaa,22.0752,-159.3190,80.58,72,74,5.01,US,light rain
4,4,Onomichi,34.4167,133.2000,49.89,56,9,7.58,JP,clear sky
5,5,Comodoro Rivadavia,-45.8667,-67.5000,55.26,88,0,5.75,AR,clear sky
6,6,Mataura,-46.1927,168.8643,64.47,33,12,4.45,NZ,few clouds
7,7,Bredasdorp,-34.5322,20.0403,61.92,88,100,3.44,ZA,overcast clouds
9,9,Zhuhai,22.2769,113.5678,65.05,68,20,23.02,CN,few clouds
10,10,Saldanha,-33.0117,17.9442,60.85,93,4,13.85,ZA,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                663
City                   663
Lat                    663
Lng                    663
Max Temp               663
Humidity               663
Cloudiness             663
Wind Speed             663
Country                655
Current Description    663
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(how="any")

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nanortalik,GL,23.14,overcast clouds,60.1432,-45.2371,
1,Puerto Ayora,EC,68.56,overcast clouds,-0.7393,-90.3518,
2,Rikitea,PF,77.92,broken clouds,-23.1203,-134.9692,
3,Kapaa,US,80.58,light rain,22.0752,-159.3190,
4,Onomichi,JP,49.89,clear sky,34.4167,133.2000,
5,Comodoro Rivadavia,AR,55.26,clear sky,-45.8667,-67.5000,
6,Mataura,NZ,64.47,few clouds,-46.1927,168.8643,
7,Bredasdorp,ZA,61.92,overcast clouds,-34.5322,20.0403,
9,Zhuhai,CN,65.05,few clouds,22.2769,113.5678,
10,Saldanha,ZA,60.85,clear sky,-33.0117,17.9442,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [8]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna(how="any")

In [9]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [10]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
fig

Figure(layout=FigureLayout(height='420px'))